<% layout('./layouts/boilerplate.ejs') %>

<section class="content-main">
    <div class="dashboard-nav d-flex justify-content">
      <h1 class="d-inline-block col-md-11 pl-0">Welcome <%= bloger.fname %></h1>
      <div class="d-inline col-md-1">
        <div class="dropdown">
          <div class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v fa-2x"></i></div>
          <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/bloger/<%=bloger.blogername%>/compose">Compose</a>
            <a class="dropdown-item" href="/bloger/<%=bloger.blogername%>/resetpass">Change Password</a>
            <a class="dropdown-item" href="/bloger/<%=bloger.blogername%>/resetname">Change PenName</a>
            <a class="dropdown-item" href="/bloger/<%=bloger.blogername%>/deletemyaccount">Delete my account</a>
          </div>
        </div>
      </div>
      
      
    </div>
    <br>
    
    <div class="row">
      <!-- For the display of title and hint of blog -->
      <% bloger.blogs.forEach(function(blog){ %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card custom-card">
            <div class="card-body">
              <h5 class="card-title display-inlineblock"><%=blog.title%> </h5>
              <%# <sup><i class="far fa-star fa-1x fav-icon"></i></sup> %>
              <br>
              <p class="card-text text-truncate">
                <%=blog.content%>
              </p>
              <a href="/bloger/<%=bloger.blogername%>/<%=blog.title%>" type="button" class="read-btn btn btn-light btn-sm">Read further</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  
  </section>

<% if(ealert == true) { %>
  <script src='/javascript/invalidBlogAlert.js'></script>
<% } %>